<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8" />
    <title></title>

    <link rel="stylesheet" href="main.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
    <script src="https://cdn.rawgit.com/alanszp/Chart.js/master/Chart.min.js"></script>
    <script src="https://cdn.rawgit.com/jtblin/angular-chart.js/master/dist/angular-chart.min.js"></script>
    <link rel="stylesheet" href="https://cdn.rawgit.com/jtblin/angular-chart.js/master/dist/angular-chart.css"/>
    <script src="chartDemo.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>

</head>

<body>
    <div class="container">
        <div class="header">
            <h3 class="text-muted">Yarn Application Statistics </h3>
        </div>

        <div class="footer"></div>
    </div>

    <div class="body" ng-view=""></div>


    <div class="body" ng-app="chartDemo" ng-controller="MainController as mainCtrl" style="margin:0 auto; max-width:500px;">
        <select ng-model="selectedQueue" ng-options="x for x in queues"></select>

        <button type="button" ng-click="toggleInteractive()">{{buttonText}}</button>
        <canvas id="line" 
          class="chart chart-line"
          chart-data="mainCtrl.absoluteUsedCapacity" 
          chart-labels="mainCtrl.absoluteUsedCapacityLabel" 
          chart-legend="true" chart-series="mainCtrl.absoluteUsedCapacitySeries" chart-legend="true"
          chart-options="mainCtrl.options"
          chart-click="mainCtrl.onClick"></canvas> 

        <canvas id="line" 
          class="chart chart-line"
          chart-data="mainCtrl.numPendingApplications" 
          chart-labels="mainCtrl.numPendingApplicationsLabel" 
          chart-legend="true" chart-series="mainCtrl.numPendingApplicationsSeries" chart-legend="true"
          chart-options="mainCtrl.options"
          chart-click="mainCtrl.onClick"></canvas> 

    </div>

</body>

</html>






